<% if current_user.present? %>
	<div class="tabbable tabs-right">
		<%= render :partial => "home/show_profile_menu" %>
		<div class="tab-content">
	  		<div class="tab-pane active" id="tab1">
	  			<% if @profile.present?%>
	  				<h6> Your Profile </h6>
					<%= form_for @profile, :url => {:action => "profile", :controller => "home"}, :html => {:multipart => true} do |f| %>
						<%= render :partial => "home/profile_form", :locals => {:f => f} %><br />
						<%= f.submit "Save Profile" %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="tab-pane" id="tab2">
			<h6> Change Password </h6>
      		<%= render :partial => "home/change_password_form" %>
    	</div>
    	<div class="tab-pane" id="tab3">
      		<h6> Sharing With Other Networks </h6>
    	</div>
    	<div class="tab-pane" id="tab4">
    		<h6> Privacy Settings </h6>
      		<h3>Cancel my account</h3>
				<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
			<%= link_to "Back", :back %>
    	</div>
    	<div class="tab-pane" id="tab5">
      		<h6> Notifications </h6>
    	</div>
    	<div class="tab-pane" id="tab6">
      		<h6> Connected Apps </h6>
    	</div>
    	<div class="tab-pane" id="tab7">
      		<h6> Local Updates </h6>
    	</div>
	</div>
<% end %>


